body {
  color:#222;
  background-color:#fff;
  font-family: 'EB Garamond', serif;
  font-size: 120%;
  margin: 0;
  padding: 0;
}

abbr {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #4178be;
}

a:hover {
  text-decoration: underline;
}

/* ===== banner ===== */
.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #006699;
  color: #fff;
  align-items: center;
  padding: .5rem 2rem;
  margin: 0;
}
.banner h1 {
  margin: 0 .7rem;
  font-size: 2rem;
  font-weight: normal;
  flex-grow: 1;
  white-space: nowrap;
}

.banner a {
  color: #fff;
  margin: 0 0 0 1.2rem;
  padding: 0.2rem; /* for keyboard focus */
}

.banner a.r {
  margin: 0;
}

.banner a:focus {
  outline: solid 1px #fff;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem 0;
}

/* banner icons */
.banner svg {
  fill: #fff;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.logo .c {
  stroke: #fff;
  fill: none;
}

.inlogo {
  width: 1.5rem;
  height: 1.5rem;
}

.inlogo .i, .inlogo .n {
  fill: #006699;
}

.in {
  font-size: 0; /* icon link accessibility */
}

.in:hover .b {
  fill: #c0e6ff;
}

/* ===== main content ===== */
.main {
  padding: 2rem;
}

/* ===== responsive ===== */
@media only screen and (max-width: 30rem) {
  .banner {
    flex-direction: column;
  }
}