body {
  color:#222;
  background-color:#fff;
  font-family: 'EB Garamond', serif;
  font-size: 120%;
  margin: 0;
  padding: 0;
}

abbr {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #4178be;
}

a:hover {
  text-decoration: underline;
}

/* ===== banner ===== */
header {
  background: #006699;
  color: #fff;
  border-bottom: 1px solid #fff; /* for high contrast accessibility */
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem 2rem;
  max-width: 960px;
  margin: 0 auto;
}
.banner h1 {
  margin: 0 .7rem;
  font-size: 2rem;
  font-weight: normal;
  flex-grow: 1;
  white-space: nowrap;
}

.banner a {
  color: #fff;
  margin: 0 0 0 1.2rem;
  padding: 0.2rem; /* for keyboard focus */
}

.banner a.e {
  margin: 0;
}

.banner a:focus {
  outline: solid 1px #fff;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem 0;
}

/* banner icons */
.banner svg {
  fill: #fff;
  fill: currentColor; /* better for accessibility when supported */
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.logo .c {
  stroke: #fff;
  stroke: currentColor; /* better for accessibility when supported */
  fill: none;
}

.in svg {
  width: 1.5rem;
  height: 1.5rem;
}

.in {
  font-size: 0; /* icon link accessibility */
}

.in:hover {
  fill: #c0e6ff;
}

/* ===== main content ===== */
.main {
  padding: 0 2rem 0 2rem;
  max-width: 960px;
  margin: 0 auto;
}

.hero {
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.mypic {
  border-radius: 50%;
  box-shadow: 0 0 15px 0;
}

.pthumb  img{
  /* border-radius: 25%; */
  border: 1px solid #eee;
}

.hgallery img {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 2px;
}

footer {
  color: #777;
  text-align: center;
  font-size: 0.9rem;
}

/* ===== responsive ===== */
@media only screen and (max-width: 33rem) {
  .banner {
    flex-direction: column;
  }
}