// Colors
$blue: #006699;


body {
  color:#000;
  background-color:#fff;
  font-family: 'EB Garamond', serif;
}

.logo {
  fill:$blue;
  width:10rem;
  height:10rem;
}

.logo .c {
  stroke:$blue;
  fill:none;
}

.container {
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
